<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <div id='output'>
      <p>flash() output</p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
              <li>{{ message }} </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>