<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

	<!-- <script type="text/javascript" src="{{ url_for('static', filename='overload.js') }}"></script>  -->
	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
	<script>

		//Add number operator overload, plan to get rid of this init step
		r=setupNums()

		// Decision variable
		x = new Variable('x');

		constraints = [];
		
		overload(function(x,constraintsVariable){
		    constraints.push(x<=1)
		})(x,constraints,Variable);
		
		// Objective (to minimize)
		objective = x
		
		// Formulate the Model
		m = new Model(objective, constraints)
		sol = m.solve()
	</script>
{% endblock %}