<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

	<!-- <script type="text/javascript" src="{{ url_for('static', filename='overload.js') }}"></script>  -->
	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='gpkit.js') }}"></script>

	<script>


		// Add number operator overload
		r = setupNums()

		//Testing out new operator overloading
		a = new Variable('a',2,'-')
		b = new Variable('b',3,'-')
		d = new Variable('d',3,'-')
		e = new Variable('e',2,'-')
		f = new Variable('f',3,'-')
		g = new Variable('g',3,'-')
		c = new Variable('c','-')
		constraints = [];
		
		objective = 'none'
		console.log('pre multiplication')
		overload(function(){
		    constraints.push(c>=a*b*d*e*f*g)
		    // constraints.push(c>=a**2)
		})();
		console.log(constraints[0])
		constraints[0].assemble()
		objective = c
		
		

		// // "Maximizes box volume given area and aspect ratio constraints."

		// // Parameters
		// alpha = Variable("alpha", 2, "-", "lower limit, wall aspect ratio")
		// beta = Variable("beta", 10, "-", "upper limit, wall aspect ratio")
		// gamma = Variable("gamma", 2, "-", "lower limit, floor aspect ratio")
		// delta = Variable("delta", 10, "-", "upper limit, floor aspect ratio")
		// A_wall = Variable("A_{wall}", 200, "m^2", "upper limit, wall area")
		// A_floor = Variable("A_{floor}", 50, "m^2", "upper limit, floor area")

		// // Decision variables
		// h = Variable("h", "m", "height")
		// w = Variable("w", "m", "width")
		// d = Variable("d", "m", "depth")

		// test = w/d
		// console.log(test)
		// // Constraints
		// constraints = [A_wall >= 2*h*w + 2*h*d,
		//                A_floor >= w*d,
		//                h/w >= alpha,
		//                h/w <= beta,
		//                d/w >= gamma,
		//                d/w <= delta]

		// // Objective function
		// V = h*w*d
		// objective = 1/V  // To maximize V, we minimize its reciprocal

		// // Formulate the Model
		// m = Model(objective, constraints)

		// // Solve the Model and print the results table
		// sol = m.solve(function(){
		// 	console.log(sol.table())
		// })

	</script>
	<div id="output"></div>
{% endblock %}
