<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

	<!-- <script type="text/javascript" src="{{ url_for('static', filename='overload.js') }}"></script>  -->
	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='gpkit.js') }}"></script>
	<h1>gpkit.js examples</h1>
	<p style="width:40%">Click around the examples here, looking at the inline scripts in the page sources for guidance on how to use gpkitjs. They are exact copies of the <a href="https://gpkit.readthedocs.io/en/latest/examples.html">GPkit examples</a>.<p>
	<a href="simple">simple</a>
	<a href="box">box</a>
	<a href="tank">tank</a>	
	<a href="wing">wing</a>	
	<a href="beam">beam</a>	
	<p style="width:40%">With nice IO (the point of gpkit.js):</p>
	<a href="simple-IO">simple</a>
	<a href="box-IO">box</a>
	<a href="tank-IO">tank</a>	
	<a href="wing-IO">wing</a>	
	<a href="beam-IO">beam</a>
	<div id="output"></div>
{% endblock %}
