<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
	<script type="text/javascript" src="{{ url_for('static', filename='nouislider.min.js') }}"></script>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nouislider.min.css') }}"></link>

	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='gpkit.js') }}"></script>

	<script>

	    $(document).ready(function() {
	      // console.log('doc ready')
	      var slider = document.getElementById('slider'); 
	            noUiSlider.create(slider, {
	          start: 20,
	          // connect: true,
	          range: {
	            'min': 0,
	            'max': 100
	          }
	      });
	      slider.noUiSlider.on('update', function( values, handle ) {
	        if ( handle ) {
	          // console.log(values[handle]);
	          // performOpt(parseInt(values))

	        } else {
	          // console.log(values)
	          // if (parseInt(values) > 0){
	          	performOpt(parseInt(values))

	          // }
	        }
	      });

	    });

	    performOpt = function(minX){
	    	// minX = parseInt(minX)
	    	// console.log(minX)
	    	//Add number operator overload, plan to get rid of this init step

			r=setupNums()

			// Decision variable
			x = new Variable('x');

			constraints = [];
			
			overload(function(minX){
			    constraints.push(x>=minX)
			})(minX);

			// Objective (to minimize)
			objective = new Posynomial([new Monomial([[x,1]],1)])
			
			// Formulate the Model
			m = new Model(objective, constraints)
			
			target = '/simple'
			// Solve the model
			sol = m.solve(target,function(){
				// There seems to be an issue with undefined vars getting returned
				// if (sol.getVar(x) > 0){
					updateOutput(sol.getVar(x))
				// }
				if (typeof(sol.getVar(x)) == "undefined"){
					console.log(sol)
				}
			})
	    }

	    updateOutput = function(xResult){
	    	$('#output').html('<p>x: ' + xResult)
	    }
		

	</script>
	<p>Control x minimum bound</p>
	<div id="slider" style="width:30%"></div>
	<div id="output"></div>
{% endblock %}
