<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

	<!-- <script type="text/javascript" src="{{ url_for('static', filename='overload.js') }}"></script>  -->
	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='gpkit.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='numeric-1.2.6.js') }}"></script>

	<script>

		r = setupNums()

		// "Minimizes airplane drag for a simple drag and structure model."

		// # Constants
		k = new Variable("k", 1.2, "-", "form factor")
		e = new Variable("e", 0.95, "-", "Oswald efficiency factor")
		mu = new Variable("\\mu", 1.78e-5, "kg/m/s", "viscosity of air")
		pi = new Variable("\\pi", Math.PI, "-", "half of the circle constant")
		rho = new Variable("\\rho", 1.23, "kg/m^3", "density of air")
		tau = new Variable("\\tau", 0.12, "-", "airfoil thickness to chord ratio")
		N_ult = new Variable("N_{ult}", 3.8, "-", "ultimate load factor")
		V_min = new Variable("V_{min}", 22, "m/s", "takeoff speed")
		C_Lmax = new Variable("C_{L,max}", 1.5, "-", "max CL with flaps down")
		S_wetratio = new Variable("(\\frac{S}{S_{wet}})", 2.05, "-", "wetted area ratio")
		W_W_coeff1 = new Variable("W_{W_{coeff1}}", 8.71e-5, "1/m",
		                      "Wing Weight Coefficent 1")
		W_W_coeff2 = new Variable("W_{W_{coeff2}}", 45.24, "Pa",
		                      "Wing Weight Coefficent 2")
		CDA0 = new Variable("(CDA0)", 0.031, "m^2", "fuselage drag area")
		W_0 = new Variable("W_0", 4940.0, "N", "aircraft weight excluding wing")

		// # Free Variables
		D = new Variable("D", "N", "total drag force")
		A = new Variable("A", "-", "aspect ratio")
		S = new Variable("S", "m^2", "total wing area")
		V = new Variable("V", "m/s", "cruising speed")
		W = new Variable("W", "N", "total aircraft weight")
		Re = new Variable("Re", "-", "Reynold's number")
		C_D = new Variable("C_D", "-", "Drag coefficient of wing")
		C_L = new Variable("C_L", "-", "Lift coefficent of wing")
		C_f = new Variable("C_f", "-", "skin friction coefficient")
		W_w = new Variable("W_w", "N", "wing weight")

		constraints = []

		overload(function(){    
			// # Drag model
			C_D_fuse = CDA0/S
			C_D_wpar = k*C_f*S_wetratio
			C_D_ind = (C_L^2)/(pi*A*e)

			constraints.push(C_D >= C_D_fuse + C_D_wpar+ C_D_ind)

			// # Wing weight model
			W_w_strc = W_W_coeff1*(N_ult*(A^1.5)*((W_0*W*S)^0.5))/tau
			W_w_surf = W_W_coeff2 * S

			constraints.push(W_w >= W_w_surf + W_w_strc)

			// # and the rest of the models
			constraints.push(D >= 0.5*rho*S*C_D*(V^2),
			                Re <= (rho/mu)*V*((S/A)^0.5),
			                C_f >= 0.074/(Re^0.2),
			                W <= 0.5*rho*S*C_L*(V^2),
			                W <= 0.5*rho*S*C_Lmax*(V_min^2),
			                W >= W_0 + W_w)
		})();
		for(var i = 0; i < constraints.length; i++) {
			console.log(constraints[i])
			console.log(constraints[i].show())
		}
		// console.log("SINGLE\n======")
		objective = new Posynomial([new Monomial([[D,1]],1)])
		m = new Model(objective, constraints)
		target = "/wing"
		sol = m.solve(target,function(){
			$('#output').html('<p>D: ' + sol.getVal(D))
		})
		// console.log("SWEEP\n=====")
		// N = 2
		// sweeps = {V_min: ("sweep", numeric.linspace(20, 25, N)),
		//           V: ("sweep", numeric.linspace(45, 55, N)), }
		// m.substitutions.update(sweeps)
		// sweepsol = m.solve(target,function(){
		// 	console.log(sweepsol.table())
		// })
		
	</script>
	<div id="output"></div>
{% endblock %}
